{{template "header.html"}}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">低位指数<small>(roe>15,pe_time<33)</small>
       </h3>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>name</th>
            <th>symbol</th>
            <th>roe</th>
            <th>pe</th>
            <th>peRate</th>
            <th>pb</th>
            <th>pbRate</th>
        </tr>
        </thead>
        <tbody>
            {{ range $key, $value := .Dan}}
        <tr>
            <td id="{{$value.ID}}" >{{$value.Name}}</td>
            <td>{{$value.IndexCode}}</td>
            <td>{{$value.Roe}}</td>
            <td>{{$value.Pe}}</td>
            <td>{{$value.PePercentile}}</td>
            <td>{{$value.Pb}}</td>
            <td>{{$value.PbPercentile}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">低PE推荐 <small>更新时间:
            <td th:text="${updatedTime}">Onions</td>
        </small></h3>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>name</th>
            <th>symbol</th>
            <th>pe</th>
            <th>peRate</th>
            <th>开始时间</th>
            <th>结束时间</th>
        </tr>
        </thead>
        <tbody>
            {{ range $key, $value := .LowPeList}}
        <tr th:each="data : ${viewData}">
            <td id="${data.symbol}" th:text="${data.name}">{{$value.Name}}</td>
            <td th:text="${data.symbol}">{{$value.Symbol}}</td>
            <td th:text="${data.pe}">{{$value.Pe}}</td>
            <td th:text="${data.peRate}">{{$value.RateStr}}</td>
            <td th:text="${data.startTime}">{{$value.StartTime}}</td>
            <td th:text="${data.endTime}">{{$value.EndTime}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>

{{template "footer.html"}}
